<main>
  <form class="form">
    <h1>Login</h1>
    <mat-form-field class="example-full-width">
      <mat-label>User</mat-label>
      <input matInput placeholder="User">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="Password">
    </mat-form-field>
    <div class="container-sign-in">
      <div class="google-sign-in" class="container-icon">
        <a href="https://accounts.google.com/" class="btn">
          <mat-icon svgIcon="google"></mat-icon>
        </a>
      </div>

      <div class="github-sign-in" class="container-icon">
        <a href="" class="btn">
          <mat-icon svgIcon="github"></mat-icon>
        </a>
      </div>
      <button mat-flat-button class="btn-sign-in btn">Sig-in</button>
    </div>
  </form>
</main>
