footer{
  background-color: black;
  color: white;
  text-align: center;
}

.container-footer{
  border: 1px solid black;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

}


.container-terminos-legales,
.container-social-media,
.container-contactenos{
  border: 1px solid orange;
  margin: 20px;

}


.container-links{

  margin-right: 30px;
  list-style-type: none;

}



