.sections{
  /* max-width: 1080px; */
  display: flex;
  flex-flow: row;
  margin: 80px;
}

.section-filter{
  width: 25%;
  margin-right: 200px;
}

.section-books{
  width: 75%;

}
/* .box-filter{
  width: 25%;
  border: 1px solid red;

}

.box-books{
  width: 75%;
  border: 1px solid purple;
} */

